<div class="container">
  <div class="row">
    <div class="col">
      <h1>Du saknar behörighet hit</h1> 
      <h2>kontakta din vårdgivare för att få hjälp att logga in</h2>      
    </div>
  </div>
</div>

