
<div class="card card-background">
<div class="card-body">


    <h2> Sömnfönster </h2>

  <p class="veckans-tips">
    Ditt sömnfönster är den tid du bestämt med din behandlare att
      du ska stiga upp och gå och lägga dig för att få så bra sömn som möjligt.
  </p>

  <div class="sleep-row">
      <div class="sleepview">
        Sänggång: <span class="sleepview2"> 22:30 </span>
      </div>
      <div class="sleepview">
        Kliva upp: <span class="sleepview2"> 08:30 </span>
      </div>
  </div>

<hr class="linje-smiley">

<div class="sleep-row">
  <div class="smiley">
    <svg class="" width="108" height="108" viewBox="0 0 108 108" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="54" cy="54" r="54" fill="#F1E894"/>
    <line x1="33" y1="40" x2="33" y2="51" stroke="#413207" stroke-width="8" stroke-linecap="round"/>
    <line x1="75" y1="40" x2="75" y2="51" stroke="#413207" stroke-width="8" stroke-linecap="round"/>
    <path d="M29 70C38.3038 87.4213 68.0676 87.2452 78 70" stroke="#42350A" stroke-width="6"/>
    </svg>
  </div>
  <div class="veckans-tips">
    <p>Bra jobbat! Vid din senaste registrerade natt så sov du inom ditt sömnfönster.</p>
  </div>

</div>



</div>
</div>
