<!--_streaks.ejs -->


<div class="card">
    <div class="card-body">
      <h2> Inläggs-streak </h2>

      <p class="veckans-tips">
        Du har fyllt i sömndagboken:
       </p>
       <img scr="/images/medalj.svg">

       <p class="veckans-tips streak-text">

          <span class="streak"> 5 </span> dagar i rad.

      </p>


    </div>
</div>
