<div class="card card-inlagg">
    <div class="card-body">
      <div class="row">
          <div class="inlagg">
                        <span class="inlagg-datum">Mån 2021-04-21</span>
                <div class="row">
                    <div class="col">
                        <span class="inlagg-description"> Sänggång </span>
                        <span class="inlagg-down">22:00</span>
                    </div>
                  <div class="col">
                        <span class="inlagg-description"> Klev upp </span>
                        <span class="inlagg-up">09:00</span>
                  </div>
                </div>

        </div>
      </div>
    </div>
  </div>

<div class="card card-inlagg">
    <div class="card-body">
      <div class="row">
          <div class="inlagg">
                        <span class="inlagg-datum">Mån 2021-04-21</span>
                <div class="row">
                    <div class="col">
                        <span class="inlagg-description"> Sänggång </span>
                        <span class="inlagg-down">22:00</span>
                    </div>
                  <div class="col">
                        <span class="inlagg-description"> Klev upp </span>
                        <span class="inlagg-up">09:00</span>
                  </div>
                </div>
        </div>
      </div>
    </div>
  </div>

<div class="card card-inlagg">
    <div class="card-body">
      <div class="row">
          <div class="inlagg">
                        <span class="inlagg-datum">Mån 2021-04-21</span>
                <div class="row">
                    <div class="col">
                        <span class="inlagg-description"> Sänggång </span>
                        <span class="inlagg-down">22:00</span>
                    </div>
                  <div class="col">
                        <span class="inlagg-description"> Klev upp </span>
                        <span class="inlagg-up">09:00</span>
                  </div>
                </div>

        </div>
      </div>
    </div>
  </div>

  <div class="card card-inlagg inlagg-expanded">
      <div class="card-body">
        <div class="row">
            <div class="inlagg">
                          <span class="inlagg-datum">Mån 2021-04-21</span>
       <div class="row">
                      <div class="col">
                          <span class="inlagg-description"> Sänggång </span>
                          <span class="inlagg-down">22:00</span>
                      </div>
                    <div class="col">
                          <span class="inlagg-description"> Klev upp </span>
                          <span class="inlagg-up">09:00</span>
                    </div>
                    <div class="col">
                      <span class="inlagg-description"> Skattning </span>
                      <span class="inlagg-rate">3</span>
                      </div>
       </div>
       <div class="row">
                   <div class="col">
                     <span class="inlagg-description"> Vaken i säng </span>
                     <span class="inlagg-awake">2h 30min</span>
                     </div>
                     <div class="col">
                       <span class="inlagg-description"> Sovtid </span>
                       <span class="inlagg-asleep">5h 30min</span>
                       </div>
        </div>
        <div class="row">
                      <span class="inlagg-description"> Vaken i säng </span>
                      <span class="inlagg-efficiency">80%</span>

         </div>

          </div>
        </div>
      </div>
    </div>
