<!--_veckans_tips.ejs -->
  <div class="card card-background">
      <div class="card-body">
        <h2> Veckans tips </h2>

        <p class="veckans-tips">
          Har du svårt att somna kan du tänka på att ha det så svalt, tyst och mörkt som möljigt i sovrummet.
         </p>


      </div>
  </div>

<div id="append_veckans_tips"></div>
