<div class="inlagg">
  <span class="inlagg-datum">M책n 2021-04-21</span>
  <span class="inlagg-down">22:00</span>
  <span class="inlagg-up">09:00</span>
</div>

<div class="inlagg">
  <span class="inlagg-datum">M책n 2021-04-21</span>
  <span class="inlagg-down">22:00</span>
  <span class="inlagg-up">09:00</span>
</div>

<div class="inlagg">
  <span class="inlagg-datum">M책n 2021-04-21</span>
  <span class="inlagg-down">22:00</span>
  <span class="inlagg-up">09:00</span>
</div>

<div class="inlagg-expanded">
  <span class="inlagg-datum">M책n 2021-04-21</span>
  <span class="inlagg-down">22:00</span>
  <span class="inlagg-up">09:00</span>
  <span class="inlagg-rate">3</span>
  <span class="inlagg-awake">2h 30min</span>
  <span class="inlagg-asleep">5h 30min</span>
  <span class="inlagg-efficiency">80%</span>
</div>

