<!--_veckans_tips.ejs -->
  <div class="card card-background">
      <div class="card-body">
        <h2> Veckans tips </h2>

        <p class="veckans-tips">
          Din genomsnittliga sömneffektivitet förra veckan var:
         </p>
         <p class="effektivitet">
           85%
          </p>
          <p class="veckans-tips">
            Eftersom din sömneffektivitet var mellan 80 och 85% ska du behålla ditt nuvarande sömnfönster under den här veckan. Kontakta din behandlare om du vill veta mer.
           </p>

      </div>
  </div>

<div id="append_veckans_tips"></div>