
<div class="container">
  <div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6 col-12 align-self-center">
      
      <h3>Redigera inlägg</h3>
      <%- include('_diary_form') %>
      
    </div>  
  </div>
</div>
