<div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h1>DIN SÖMNDAGBOK</h1>
        <hr class="linje-rubrik">

        <p class="hello" > Hej och välkommen tillbaka </p>
      </div>
    </div>

    <!--                      Översta raden                   -->
    <div class="row">

      <!-- Veckans Tips och Streaks-->
      <div class="col-sm">
        <%- include('_veckans_tips') %>
      </div>


      <!-- Streaks-->
      <div class="col-sm">
        <%- include('_streaks') %>
      </div>

    </div>


    <div id="form_row" class="row collapse"> <!-- collapse -->

      <!-- Nytt inlägg -->
      <div class="col-md-6 offset-md-3">
        <h3 class="mb-4">Skapa ny sömnregistrering</h3>
        <div class="message-div"></div>
        <%- include('_diary_form') %>
      </div>

    </div>

    <div class="row">
      <!-- Veckans Inlägg -->
      <div class="col" id="col-for-posts">
      <%- include('_veckans_inlagg') %>       
      </div>

<!--       <div class="col collapse" id="col-for-posts-table">       
        <table id="table-all-posts">
          <thead> 
          <tr>
            <th>Vecka</th>
            <th>Tid: sänggång</th>
            <th>Tid: klev upp</th>
            <th>Tid: vaken</th>
            <th>Sömneffektivitet</th>
            <th>Skattning</th>
          </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div> -->

    <div class="row">

      <!-- GRAPH -->
      <div class="col"></div>
      <div class="col-12 col-md-6" id="col-for-graph">
          <div class="card card-inlagg inlagg-expanded">
            <div class="card-body">
                <canvas id="sleep-graph-canvas"></canvas>
            </div>
          </div>
      </div>
      <div class="col"></div>     

    </div>


    </div> <!-- row -->

    <div class="row collapse" id="all_posts_div">
      <div class="col">
        <table id="all_posts_table" class="table">
          <legend>Samtliga poster</legend>
          <thead>
            <th>Vecka</th>
            <th>dag</th>
            <th>Tid: sänggång</th>
            <th>Tid: klev upp</th>
            <th>Tid: vaken</th>
            <th>Sömneffektivitet</th>
            <th>Sömnlängd</th>
            <th>Självskattning</th>
          </thead>
          <tbody>  
          </tbody>
        </table>
      </div>
    </div>


</div> <!-- / CONTAINER -->

<script type="text/javascript" src="/javascripts/diary.js"></script>
