
<p class="hello"> Manual Sömndagboken - Behandlare </p>


<div class="">


    <div>
      <h2 class="manual"> Introduktion</h2>
        <p class="veckans-tips manual"> Denna manual riktar sig behandlare som ska assistera användare av sömndagboken.
    </p>
    </div>

    <div>
      <h2 class="manual"> Registrera sömn</h2>
        <p class="veckans-tips manual"> För att skapa ett nytt sömndagboksinlägg så klickar man på
           den blå knappen med texten ”Registrera sömn”. I formuläret som dyker upp när man
            klickar på knappen så ska man fylla i olika typer av information om hur man sovit.
            Man måste fylla i ett svar på alla frågor för att kunna spara sitt inlägg.
            Blir man osäker på hur man ska besvara en fråga kan man klicka på informations-ikonen
            för att få mer information. Ångrar man sig efter att man börjat skriva ett inlägg
            kan man också välja att trycka på knappen ”Avbryt” för att ta bort inlägget.
            Det finns en del begränsningar inlagda i sömnregistreringen för att användaren
            inte ska fylla i fel. Till exempel så kan användaren kan inte fylla i datum som
            befinner sig i framtiden och hen kan inte fylla i att man gick upp innan man gick och la sig.
        </p>
    </div>

    <div>
      <h2 class="manual"> Veckans inlägg</h2>
        <p class="veckans-tips manual"> Det är under den här rubriken man kan se
          alla inlägg man gjort under den nuvarande veckan, sorterade efter datum.
           Önskar man redigera ett tidigare inlägg kan man klicka på den blå knappen
            ”Redigera”. Man skickas då till samma formulär som man fyllt i
            tidigare där man kan ändra sina svar. Har man glömt att fylla i
            en natts sömn så kommer det ligga ett tomt inlägg här.
            Man kan även välja att fylla i svaren på de tomma inläggen i efterhand.
            Är man intresserad av att se alla sina dagboksinlägg, det vill säga om
            man har fler inlägg sedan tidigare utöver den nuvarande veckan,
            så kan man klicka på den blå knappen med texten ”Se mer”.
            Man kommer då se alla tidigare inlägg i en stor tabell.
            I den här tabellen kan man även trycka på den röda knappen
            i kolumnen ”Radera” för att radera ett sömninlägg.
        </p>
    </div>

    <div>
      <h2 class="manual"> Grafer </h2>
        <p class="veckans-tips manual"> Det finns två olika grafer i sömndagboken.
          Den ena grafen, som är lila, visar en visualisering av sin sömneffektivitet
          över tid. Mer exakt så kan man se sin genomsnittliga sömneffektivitet
          per vecka man använt sömndagboken. I den andra grafen, som är blå,
          kan man istället se sin genomsnittliga sömntid över tid.
        </p>
    </div>

    <div>
      <h2 class="manual"> Veckans tips </h2>
        <p class="veckans-tips manual"> Den här rutan kommer uppdateras med tips som man kan ta med sig.
          Efter användarens fjärde behandlingsvecka ungefär så kan du som behandlare välja
          att sätta igång tips gällande hur patienten ska jobba med sitt sömnfönster utifrån
          sin genomsnittliga sömneffektivitet. Den här funktion kan sättas på och stängas
          av när som helst av behandlaren. Är funktionen påslagen så kommer ett av följande
           tips visas varje vecka utifrån vilken genomsnittlig sömneffektivitet användaren
            uppvisare tidigare vecka:</p>

            <ul>
              <li>Sömneffektivitet under 80%</li>
              <ul style="class="square"">
                  <li style="">Korta ner sömnfönstret genom att lägga dig en kvart senare under kommande vecka</li>
              </ul>
              <li>Sömneffektivitet mellan 80 och 85%</li>
              <ul style="class="square"">
                  <li style="">Behåll nuvarande sömnfönster under kommande vecka</li>
              </ul>
              <li>Sömneffektivitet över 85%</li>
              <ul style="class="square"">
                  <li style="">Förläng sömnfönstret genom att lägga dig en kvart tidigare under kommande vecka</li>
              </ul>
            </ul>
    </div>

    <div>
      <h2 class="manual"> Notiser </h2>
        <p class="veckans-tips manual"> Den här rutan innehåller olika typer av
          uppdateringar om användarens framsteg.
          Till exempel kan man få information om hur många dagar
          man har fyllt i din sömndagbok hittills.
        </p>
    </div>

    </div>
