/* Läsa in externa fonter*/
/* EXEMPEL: */

@font-face {
  font-family: "Frutiger Light";
  src: url("../fonts/FrutigerLTStd-Light.otf") format("opentype");
}

@font-face {
  font-family: "Frutiger Roman";
  src: url("../fonts/FrutigerLTStd-Roman.otf") format("opentype");
}

@font-face {
  font-family: "Frutiger Bold";
  src: url("../fonts/FrutigerLTStd-Bold.otf") format("opentype");
}

body {
  padding: 16px;
  background-color: #2D333F;
  color: #D8DEE9;
}

@media (min-width: 600px) {
  body {
    padding: 50px;
  }
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4, h5{ /*Huvudrubrik: MIN SÖMNDAGBOK */
  font-family: "Frutiger Bold";
  margin-bottom: 30px;
  margin-top: 40px;
}

h1 {
  color: #86BECE;
}
h3 {
  font-size: 1.44em;

}

/* Alla cards*/
.card{
  border-color: #4C566A;
  background-color: #2D333F;
  box-shadow: 0px 3px 10px #1E2128;
}


/* Skapa nytt dagboksinlägg*/
.question-label {
  font-family:"Frutiger Roman" ;
  font-size: 1.25em;
  margin-bottom: 15px;

}
.blue-input-frame{ /* input-boxarna*/
  font-size: 1.25em;
  border:2px solid #86BECE;
  border-radius: 5px;
  border-color: #86BECE;
  background-color:#2D333F;
  color: #D8DEE9;
  align-items: center;
  margin: auto;
  text-align: center;
}

.mb-4 {
  text-align:center;

}
#morning_date{
  max-width: 235px;
}
.liten-ruta{
  max-width: 135px;
}

option { /* Skattningsalternativ */
  color: #D8DEE9;
  background-color: #2D333F;
}

#awake-slider{
  max-width: 230px;
}

.linje-ny-dagbok /*linjer mellan frågorna */ {
    border-top: 2px solid 4C566A;
    width:70%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 60px;

}

/* Tabell*/
td {
  color:#D8DEE9;
}
