/* Läsa in externa fonter*/
/* EXEMPEL: */
@font-face {
  font-family: "Gilroy Black";
  src: url("font/GilroyBlack.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy Medium";
  src: url("font/Gilroy-Medium_1.ttf") format("truetype");
}

body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4, h5{ /*Huvudrubrik: MIN SÖMNDAGBOK */
  font-family: "Arial";
}

h1, h2, h3, p {
  color: white; 
}
